{% extends "base.html" %}

{% block content %}

<div class="carbongramMainbody" {% if current_user.background %}
     {% set backgroundImg = current_user.background | string() %}
     {% set backgroundImg = backgroundImg.split("b'")[1].split("'")[0] %}
     style="background-image: url('data:image/png;base64,{{ backgroundImg }}');" {% endif %}>

    <div id="carbongramNavbar">
        <div id="carbongramNavbarCon">
            <div id="carbongramHamburgerMenu">
                <h3>Menu</h3>
            </div>
            <div id="carbongramlogo">
                <a id="carbongramImageCon" href="{{ url_for('carbongram.carbongram') }}"><img src="/static/img/logo-2.png" /></a>
            </div>
            <div id="carbongramSearchbar">
                <form method="POST"  id="search_friend" action="/search_for_friend">
                    <input id="carbongramNavSearchbar" name="searchForFriend" placeholder="Search for Friends" />
                </form>
            </div>
            <div id="carbongramButtons">
                <h3 id="carbongramHome"><a style="color: black" href="{{ url_for('carbongram.carbongram') }}"><i class="fa fa-home"></i></a></h3>
                <h3 id="createPost"><i class="fa fa-plus-square-o"></i></h3>
            </div>
            <div id="carbongramProfilePic">
            </div>
        </div>
    </div>

        <div id="createPostBody" >
             <form method="POST"  id="add_post" action="/add_post" enctype="multipart/form-data">
                <div id="createPostBodyTopCon">
                    <div id="createPostBodyTopTitle">
                        <h4>Create Post</h4>
                    </div>
                    <div id="closeButtonCon">
                        <div id="closeButton">
                            <span class="closeButtonA" id="closeLeft"></span>
                            <span  class="closeButtonA" id="closeRight"></span>
                        </div>
                    </div>
                </div>
                 <div id="createPostBodyCon">
                     <div id="createPostBodyProfile">
                        <div class="carbongramProfilePic">
                            {% set profilePic = current_user.profile_picture | string() %}
                            {% set profilePic = profilePic.split("b'")[1].split("'")[0] %}
                            <a><img src="data:image/png;base64,{{ profilePic }}"/></a>
                        </div>
                        <div id="carbongramUsernameCon">
                            <a href="">{{ current_user.firstname }}</a>
                        </div>
                     </div>

                     <div class="createPostBodyInputCon">
                         <textarea id="createPostBodyInput" form="add_post" name="text_area" >What's on your mind?</textarea>
                         <img id="backgroundImages" src="" />
                     </div>
                      <label for="userpostimage" class="customCoverupLoad" id="profileCustomProfileLoad">
                          <i class="fa fa-cloud-upload"></i> Upload Image
                      </label>
                     <input accept="image/*" type='file' name="userpostimage" id="userpostimage" onchange="readURL(this);"/>
                     <div class="createPostBodyButtonCon">
                         {{ form.submit_button(class="buttonMedium" , id="createPostBodyButton", value="Post") }}
                     </div>
                </div>
            </form>
        </div>

        <div id="carbongramDeletePost" >
            <form  id="profileDeleteForm" method="POST" action="/delete_post">
                <div id="profileDeleteText">
                    <h2>Are you sure you want to delete your Post?</h2>
                </div>
                    <div class="profileButton" id="profileDeleteAcConButton">
                        <input type="hidden" id="carbongramDeletePostId" name="carbongramDeletePost" value="">
                        <input type="submit" class="quizWrong" name="submit_button" value="Delete Post">
                        <button id="profileButtonR" onclick="returnDel()" class="buttonMedium" type="button" >Return</button>
                    </div>

            </form>
        </div>


    <div class="carbongramPostBody">

        <div id="carbongramCreateP">
            <div id="carbongramCreateCon">
                <div id="carbongramCreatePCon">
                    <div class="carbongramProfilePic">
                        <a href="profile/{{ current_user.username }}/{{ current_user.id }}">
                            <img src="data:image/png;base64,{{ profilePic }}" />
                        </a>
                    </div>
                    <div id="carbongramOnMind">
                        <div id="carbongramOnMindB">
                            <h5>What's on your mind?</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        {% if AllPosts %}
            {% for post in AllPosts %}

                <div id="carbongramPost">
                    <div id="carbongramPostTop">
                        <div class="carbongramProfilePic">
                            {% set PprofilePic = post[1].profile_picture | string() %}
                            {% set PprofilePic = PprofilePic.split("b'")[1].split("'")[0] %}
                            <a href="profile/{{ post[1].username }}/{{ post[1].id }} " id="carbongramProfilePicA" >
                                <img src="data:image/png;base64,{{ PprofilePic }}" {% if post[1].role=="admin" %} style="border: 1px solid var(--red_color) " {% elif post[5] %} style="border: 1px solid var(--green_color)" {% endif %} />
                                {% if post[1].role=="admin" %}
                                    <p style="background: var(--red_color);">Admin</p>
                                {% elif post[5] %}
                                    <p style="background: var(--green_color);">friend</p>
                                {% endif %}
                            </a>
                        </div>
                        <div id="carbongramUsernameCon">
                            <a href="profile/{{ post[1].username }}/{{ post[1].id }}">{{ post[1].username }}</a>
                            <p>{{ post[0].PostDate }}</p>
                        </div>
                        {% if post[1].id == current_user.id or current_user.role == "admin"  %}
                        <div id="carbongramDelete">
                            <a href="update/{{ post[0].PostId }}">Edit</a>
                            <a id="deletePost" onclick="deletePost({{ post[0].PostId }})">Delete</a>
                            {% if current_user.role == "admin"  %}
                                <form method="POST" action="/reportPost">
                                    <button name="reportPost" value="{{ post[0].PostId }}" >Report</button>
                                </form>
                            {% endif %}
                        </div>
                            {% else %}
                            <form method="POST" action="/reportPost">
                                <button name="reportPost" value="{{ post[0].PostId }}" >Report</button>
                            </form>
                        {% endif %}

                    </div>
                    <div id="carbongramPostContent">
                        <div id="carbongramPostContentText">
                            <p>{{ post[0].PostText }}</p>
                        </div>
                        {% if post[0].PostImg  %}
                        <div id="carbongramPostContentOther">
                        {% set postImage = post[0].PostImg | string() %}
                            {% set postImage = postImage.split("b'")[1].split("'")[0] %}
                            <img src="data:image/png;base64,{{ postImage }}" />
                        </div>
                        {% endif %}
                    </div>

                    <div id="carbongramPostButtons">
                        <div id="carbongramButtonCon">
                            {% if post[3] == False %}
                            <form method="POST" action="/like_post">
                                <button class="likeButton likeButtonAni" name="like" value="{{ post[0].PostId }}"><i id="heart" class="fa fa-heart-o"></i></button>
                            </form>

                            {% else %}
                                <form method="POST" action="/unlike_post">
                                <button class="likeButton likeButtonAni" name="unlike" value="{{ post[0].PostId }}" ><i class="fa fa-heart"></i></button>
                            </form>
                            {% endif %}
                            <div  id="likeCounter">
                                <p>Likes</p>
                                <p>{{ post[2]|length }}</p>
                            </div>
                        </div>

                        <div id="carbongramButtonCon">
                            <a href="comment/{{ post[0].PostId }}">
                                <button class="commentButton CommentButtonAni" name="comment" value="{{ post[0].PostId }}" ><i class="fa fa-comment-o"></i></button>
                            </a>
                            <div  id="likeCounter">
                                <p>Comments</p>
                                <p>{{ post[4] }}</p>
                            </div>
                        </div>

                    </div>

                </div>

            {% endfor %}
        {% endif %}



    {% if scroll %}
        <script>
            document.querySelector('.{{ scroll }}').scrollIntoView();
        </script>
        {% endif %}

    </div>
</div>
 <script type="text/javascript" src="{{ url_for('static', filename='carbongramMain.js') }}"></script>
{% endblock %}