{% extends "base.html" %}

{% block content %}
<div class="carbongramMainbody">
        <div id="createPostBody" style="display: flex">
             <form method="POST">
                <div id="createPostBodyTopCon">
                    <div id="createPostBodyTopTitle">
                        <h4>Change Password</h4>
                    </div>
                    <div id="closeButtonCon">
                        <a href="{{ url_for('users.profile') }}" style="display: flex; justify-content: flex-end">
                            <div id="closeButton">
                                <span class="closeButtonA" id="closeLeft"></span>
                                <span  class="closeButtonA" id="closeRight"></span>
                            </div>
                        </a>
                    </div>
                </div>

                 <div id="createPostBodyCon">

                     <div class="createPostBodyInputCon" id="pPcBodyInputCon">
                         <div class="field">
                            {{ form.csrf_token() }}
                        </div>
                        <div class="ProfleinputB" id="pPcBodyInput">
                            <p>Password</p>
                            {{ form.password(class="profileFormInput" ,id="pPcFormInput" ) }}
                            <div class="errorHolder">
                            {% for error in form.password.errors %}
                                <p id="registerError">{{ error }}</p>
                            {% endfor %}
                        </div>
                        </div>
                         <div class="ProfleinputB" id="pPcBodyInput">
                            <p>Confirm Password</p>
                            {{ form.password_confirmation(class="profileFormInput",id="pPcFormInput" ) }}
                             <div class="errorHolder">
                                {% for error in form.password_confirmation.errors %}
                                    <p id="registerError">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>
                     </div>
                     <div class="createPostBodyButtonCon">
                         {{ form.submit_button(class="buttonMedium" , value="Submit") }}
                     </div>
                </div>
            </form>
        </div>
</div>
 <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}